<h1>Lista de tiradas</h1>
<div>
    <div class="card" *ngFor="let s of shootings">
        <div class="card-body">
            <h5 class="card-title">{{s.disciplineStr}}</h5>
            <div class="row">
                <div class="col-3">
                    <p class="card-text"> {{s.modalityStr}} </p>
                </div>
                <div class="col-3">
                    <p class="card-text"> {{ s.dateStr }}</p>
                </div>
                <div class="col-3">
                    <p class="card-text"> Promedio: {{ s.average | formatNumber}}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="card-text"><a href="#" class="btn btn-outline-dark btn-sm" title="Ver detalles da tirada">Detalles</a></p>
                </div>
            </div>
        </div>
    </div>
</div>